---
import HeaderButton from '../components/HeaderButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-3xl text-center">Page not found</h1>
    <img
      src="https://media.tenor.com/S83LjJBp-BIAAAAC/nolan-christopher.gif"
      alt="page not found"
    />
  </div>
</Layout>
