---
import Layout from '../layouts/Layout.astro';
import Movies from '../components/Movies.astro';
---

<Layout title="Christopher Nolan - Movies">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Movies 🎥
    </h2>
  </div>
  <Movies />
</Layout>
