---
import HeaderButton from '../components/HeaderButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Christopher Nolan Filmography">
  <nav class="flex flex-col items-center justify-between w-full text-center">
    <HeaderButton class="text-white">
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        All christopher Nolan Movies.
      </p>
    </HeaderButton>
  </nav>
</Layout>
