---
import Layout from '../layouts/Layout.astro';
import AllMovies from '../components/AllMovies.astro';
---

<Layout title="Christopher Nolan - Movies">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      All Movies 🎥
    </h2>
  </div>
  <AllMovies />
</Layout>
