---
import Layout from '../../layouts/Layout.astro';
import TopFiveMovies from '../../components/TopFiveMovies.astro';
---

<Layout title="Top 5 Movies">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Top 5 Movies 🎥
    </h2>
  </div>
  <TopFiveMovies />
</Layout>
